@import "../variables.scss";
@import "../mixins.scss";

#countryDetails {
  font-size: $detailsFontSize;
  @include fullHeight;
}

#countryDetails .btn {
  padding: 7px 19px;
  @include btn;
}

#countryDetails .border-btn {
  margin-right: 3px;
}

/* control the mode */
#countryDetails .btn.mode-light {
  box-shadow: 1px 1px 2px 0 #333;
}

#countryDetails .btn.mode-dark {
  box-shadow: 1px 1px 2px 0 $shadowDark;
}

#countryDetails .country-details {
  margin-top: 60px;
}

#countryDetails ul {
  @include listNone;
}

#countryDetails .country-details-items {
  margin-bottom: 60px;
}

@media (min-width: $breackPoint) {
  #countryDetails .flexible {
    display: flex;
    justify-content: space-between;
  }

  #countryDetails .co-det-v1 {
    margin-right: 80px;
  }
}

#countryDetails .country-details-flag img {
  width: 75%;
}

.data-key {
  font-weight: $mdFontWeight;
}
