// devices width
$breackPoint: 375px;

// box shadow colors
$shadowLight: #eee;
$shadowDark: #000;

// font sizes & styles
$homeFontSize: 14px;
$detailsFontSize: 16px;
$ltFontWeight: 300;
$mdFontWeight: 600;
$dkFontWeight: 800;

// layouts
$cardBorderRadius: 4px;
